
.container {
	display: grid;
}

.top {
	background-color: green;
}

.navbar-one {
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

body {
    font-family: "WorkSans";
}

li {
	background-color: red;
}
