body {
  font-family: "WorkSans";
}

.container {
  display: flex;
}

.advert {
  background-image: linear-gradient(
    to right,
    rgb(233, 140, 129) 0%,
    rgb(233, 140, 129) 100%
  );
  .row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    a {
      border: 1px solid white;
      width: auto;
      padding: 5px 20px;
      line-height: 90px;
      height: 30px;
    }
  }
}

nav {
  display: flex;
  justify-content: space-around;
  .logo {
    p {
      display: inline-block;
    }
    img {
      max-width: 125px;
    }
  }
}

.products {
  .card {
    background-color: grey;
    width: 300px;
  }
  img {
    width: 200px;
  }
}

aside {
  .dropdown-content {
    display: none;
    min-width: 160px;
    a {
      display: block;
    }
  }
}

.dropdown {
  &:hover {
    .dropdown-content {
      display: block;
      a:hover {
        background-color: #ddd;
      }
    }
  }
}
