

  <div class="advert">
    <div class="row">
      <p>Get 35% off for new product</p>
      <a>Shop Now</a>
      <button>X</button>
    </div>
  </div>
<nav>
  <div class="logo">
    <%= image_tag "logo-pc.png" %>
    <p>PCPinoy</p>
  </div>
  <div class="item">
  <a href="#">Home</a>
  <a href="#">Shop</a>
  <a href="#">Products</a>
  </div>
  <div class="register">
  <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
  <a href="#"><i class="fa fa-fw fa-user"></i>Register</a>
  <a href="#"><i class="fa-solid fa-cart-shopping"></i></i>Cart</a>
  </div>
</nav>

<div class="container">

<aside>
  <h4>Filter</h4>
  <p>Sort By</p>
  <div class="dropdown">
    <button>Default</button>
    <i class="fa fa-caret-down"></i>
    <div class="dropdown-content">
      <a href="#">Price (low to high)</a>
      <a href="#">Price (high to low)</a>
    </div>
  </div>
</aside>

<main>
  <div class="products">
    <p>Showing 2999 result for all</p>
    <div class="card">
      <p>Processor</p>
      <%= image_tag "" %>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p>Php5,999.00</p>
    </div>
  </div>
</main>

</div>
