<div class="top">
  <div class="navbar-one">
    <div class="row">
      <p>Get 35% off for new product</p>
      <a>Shop Now</a>
      <button>X</button>
    </div>
  </div>
</div>

<nav>
  <div class="logo">
    <%= image_tag "logo-pc.png" %>
    <p>PCPinoy</p>
  </div>
  <div class="item">
  <a href="#">Home</a>
  <a href="#">Shop</a>
  <a href="#">Products</a>
  </div>
  <div class="register">
  <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
  <a href="#"><i class="fa fa-fw fa-user"></i>Register</a>
  <a href="#"><i class="fa-solid fa-cart-shopping"></i></i>Cart</a>
  </div>
</nav>

