<%= render "shared/navbar" %>
<h1>PC Pinoy</h1>
<p><%= @message %></p>
<ul>
  <% @processors.each do |processor| %>
    <li>
      <%= processor.brand %>
      <%= processor.description %>
    </li>
  <% end %>
</ul>
